body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: rgb(101, 160, 133);
    color: #fff;
    font-size: 2rem;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(28, 25, 48);
    color: #Fff;
    border: 5px solid #999;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 7rem;
    height: 7rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 4rem;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #fff;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }